<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAd1Z98wH7jo-fz454-YpWtiXfxg5LkUpM</string>
	<key>GCM_SENDER_ID</key>
	<string>350911462798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorDrive</string>
	<key>PROJECT_ID</key>
	<string>drive-doctor-315ad</string>
	<key>STORAGE_BUCKET</key>
	<string>drive-doctor-315ad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350911462798:ios:9de5a4f292518b484eb8df</string>
</dict>
</plist>